/* Main styles */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.admission,
.cta-button {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    font-family: "Open Sans Condensed";
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

/* Header and Footer styles */
.site-header .container,
.hero-section .container,
.site-footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo,
.footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-logo img,
.footer-logo img {
    width: 50px;
    margin-right: 16px;
}

.header-brand,
.footer-brand {
    font-size: 24px;
    font-weight: 600;
}

.header-brand {
    color: #222222;
}

.footer-brand {
    color: white;
}

.nav-toggler {
    display: none;
}

.header__navigation-items,
.footer__navigation-items {
    list-style: none;
}

.header__navigation-item,
.footer__navigation-item {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 16px;
}

.header__navigation-item a {
    text-decoration: none;
    color: #222222;
}

.footer__navigation-item a {
    text-decoration: none;
    color: white;
}

.site-footer {
    background-color: #222222;
}

.admission {
    background-color: #DE2E54;
    border-color: #DE2E54;
}

/* Hero section styles */
.hero-section {
    background-color: #0EB4C1;
    padding-top: 30px;
}

.hero-text {
    flex-basis: 45%;
}

.hero-title {
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: white;
    margin: 16px 0;
}

.hero-description {
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 36px;
}

.hero-image {
    flex-basis: 40%;
    align-self: stretch;
}

.hero-image img {
    height: 100%;
}

/* Services section styles */
.services-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.services-items {
    max-width: 864px;
}

.services-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.services-section h2 {
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 16px;
}

.service-image img {
    width: 200px;
}

.service-text{
    margin-left: 64px;
}

.service-title {
    margin: 0;
    color: #222222;
    font-family: "Open Sans Condensed";
    font-size: 24px;
    font-weight: 700;
}

.service-description {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
}

.services-section .admission {
    margin-top: 20px;
}

/* Cta section styles */
.cta-section {
    background-color: #0EB4C1;
    text-align: center;
    padding: 64px 0;
}

.cta-section h2 {
    margin: 0;
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.cta-button {
    background: none;
    border-color: #FFFFFF;
    margin: 40px 20px 0;
}
